@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700&subset=cyrillic');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-color: #fff;
  background-image: url('../img/bg-pattern.jpg');
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 1100px;
}
h1 {
  color: #1c5d2c;
}
input, textarea, button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
a.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.2s;
  font-size: 12px;  
  /*outline: 1px solid red;*/
}
a.btn:hover {
  background-color: #fff;
  color: #3ABC73;
}
a.order {
  display: block;
  background-color: #1c5d2c;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 200px;
}
.flaticon-smartphone-6::before {
  margin-right: 10px;
}
.flaticon-paper-plane-1::before {
  margin-right: 10px;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;

  /*outline: 1px red solid;*/
}
.inner {
  width: 940px;
  margin: 0 auto;
  /*padding: 0 10px;*/

  /*outline: 1px red solid;*/
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.header {
  min-height: 100px;
  background-color: #3ABC73;
}
.header .pic-left {
  float: left;
  background: url("../img/excavator.png") no-repeat;
  background-size: contain;
  background-position: 100% 0;
  width: 260px;
  height: 150px;

  /*outline: 1px solid;*/
}
.header .pic-right {
  float: right;
  background: url("../img/buld.png") no-repeat;
  background-size: contain;
  background-position: 0 0;
  width: 260px;
  height: 150px;

  /*outline: 1px solid;*/
}
.header .align-center {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;

  /*outline: 1px solid;*/
}
.header .contacts {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 20px;
  width: 400px;

  /*outline: 1px solid;*/
}
.header .contacts .left {
  float: left;
}
.header .contacts .right {
  float: right;
}
.header .contacts p {
  margin: 0 0 3px 0;
  color: #fff;
}
.header .contacts .btn {
  margin-top: 10px;
}



.main-nav {
  background-color: #32A263;
}
.main-nav ul.main-menu {
  text-align: center;
  font-size: 0;

  /*outline: 1px red solid;*/
}
ul.main-menu li {
  position: relative;
}
ul.main-menu > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;

  /*outline: 1px red solid;*/
}
ul.main-menu > li > a {
  display: block;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 25px;
}
ul.main-menu > li.catalog::after,
ul.main-menu > li.services::after,
ul.main-menu > li.company::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 23px;
  width: 6px;
  height: 6px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  transition: 0.3s;
}
ul.main-menu > li > ul.submenu {
  position: absolute;
  display: none;
  width: 200px;
  text-align: left;
  background-color: #fff;
  border: solid 2px #1c5d2c;
  z-index: 100;
}
ul.main-menu > li > ul.submenu a {
  display: block;
  padding: 5px 10px 5px 20px;
  /*border-top: solid 1px #99cc99;*/
  color: #1c5d2c;
}
ul.main-menu > li > ul.submenu li:first-child a {
  border-top: none;
}
ul.main-menu > li:hover {
  background-color: #1c5d2c;
}
ul.main-menu > li:hover::after {
  transform: rotate(135deg);
}
ul.main-menu > li:hover > ul.submenu {
  display: block;
}
ul.main-menu > li > ul.submenu li:hover {
  background-color: #a9cca9;
}

ul.main-menu > li > ul.submenu ul.submenu {
  position: absolute;
  display: none;
  top: -2px;
  left: 200px;
  width: 200px;
  text-align: left;
  background-color: #fff;
  border: solid 2px #1c5d2c;
  z-index: 100;
}
ul.main-menu li.catalog > ul.submenu > li::after,
ul.main-menu li.catalog > ul.submenu > li::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #1c5d2c;
  border-right: 2px solid #1c5d2c;
  transform: rotate(135deg);
  transition: 0.1s;
}
ul.main-menu li.catalog > ul.submenu > li:hover::after,
ul.main-menu li.catalog > ul.submenu > li:hover::after {
  transform: rotate(45deg);
}
ul.main-menu li > ul.submenu > li:hover > ul.submenu,
ul.main-menu li > ul.submenu > li:hover > ul.submenu{
  display: block;
}

.breadcrumbs {
  background-color: #1c5d2c;
  height: 30px;
}
.breadcrumbs p {
  padding: 0;
  margin: 0;
}


.search {
  position: relative;

  /*outline: 1px solid;*/
}
.search .flaticon-search-1 {
  position: absolute;
  right: 80px;
  top: 5px;
  color: #fff;
  font-style: italic;
  font-size: 14px;
  /*font-weight: thin;*/
}
.search .flaticon-search-1::before { 
  position: absolute;
  top: -3px;
  right: -40px;
}

/* ===== хлебные крошки ВРЕМЕННО начало ==== */
/*.main-nav ul.main-menu > li:first-child {
  position: relative;
}
.main-nav ul.main-menu > li:first-child::before {
  content: "хлебные / крошки";
  position: absolute;
  color: #fff;
  top: 70px;
  left: -25px;
  font-size: 12px;
  width: 200px;
}*/
/* ===== хлебные крошки ВРЕМЕННО конец ==== */


/* ========== CATALOG BEGIN ========== */

.products {
  margin-bottom: 50px;
}

.products-list {
  float: left;
  border: 2px solid #1c5d2c;
  width: 200px;

}
.products-list > li > a {
  display: block;
  padding: 2px 10px;
}
.products-list > li:last-child > a {
 /*padding-bottom: 5px;*/
}
.products-list > .active > a{
  color: #fff;
  background-color: #41a25c;
  /*outline: 1px red solid;*/
}
.products-list .submenu > .active {
  background-color: #a9cca9;
}
.products-list li a {
  font-size: 18px;
  color: #1c5d2c;
}
.products-list > li > a {
  font-weight: bold;  
}
.products-list .submenu a {
  font-size: 16px;
  vertical-align: top;
}
.products-list .submenu li {
  padding: 2px 5px 2px 30px;
}
.products-thumbnail {
  float: right;
  width: 800px;

  /*outline: 1px solid;*/
}
.products-thumbnail a {
  display: block;
}
.products-thumbnail li {
  position: relative;
  display: inline-block;
  margin-right: 60px;
  margin-top: 20px;

  /*outline: 1px solid;*/
}
.products-thumbnail li:nth-child(3n+3) {
  margin-right: 0;

  /*outline: 1px solid red;*/
}
.products-thumbnail li:nth-child(-n+3) {
  margin-top: 0;

}
.products-thumbnail li h3 {
  text-align: center;
  margin: 5px 0 0;
  font-size: 16px;
}

.products-thumbnail li p {
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.products-thumbnail li img {
  display: block;
  /*position: relative;*/
}
.products-thumbnail li::before {
  content: '';
  position: absolute;
  right: -1px;
  top: -1px;
  width: 62px;
  height: 77px;
  background-image: url(../img/catalog/yes.png);
  z-index: 20;

  /*outline: 1px solid;*/
}

.product {
  float: right;
  width: 800px;

  /*outline: 1px solid;*/
}
.product > div {
  position: relative;
}
.product > div > img {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;

  /*outline: 1px solid green;*/
}
.product .price {
  display: inline-block;
  vertical-align: top;

  /*outline: 1px solid blue;*/
}
.product .price span {
  font-weight: bold;
}
.product .order {
  /*margin-top: 45px;*/
  position: absolute;
  bottom: 0;
}
.product .descr h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 5px;
}
.product .descr p {
  margin-top: 0;
}
.product .price p {
  margin-top: 0;
}

/* ========== CATALOG END ========== */
/* ========== OPLATA BEGIN ========== */

.oplata  {
  margin-bottom: 50px;
}

/* ========== OPLATA END ========== */
/* ========== CONTACTS BEGIN ========== */

.contacts {
  margin-bottom: 50px;
}
.contacts #ya-map {
  border-top: 3px solid #1c5d2c;
  border-bottom: 3px solid #1c5d2c;
  /*width: 100%;*/
  height: 400px;
  margin-top: 30px;
}


/* ========== CONTACTS END ========== */
/* ========== PRICE-LIST BEGIN ========== */

.table {
  display: table;
  margin-bottom: 50px;
  /*margin: 0 auto;*/
  /*border-spacing: 10px 5px;*/
  /*width: 900px;*/
/*width: 100%;*/
  /*outline: 1px solid;*/
}
.table h3 {
  display: table-caption;

  /*outline: 1px solid;*/
}
.table ul {
  display: table-row-group;
}

.table li {
  display: table-row;
  /*background-color: #a9cca9;*/

  /*outline: 1px solid;*/
}
.table li:nth-child(2n) {
  background-color: #a9cca9;
}

.table li p {
  display: table-cell;
  /*background-color: red;*/
  /*padding: 10px 90px 10px 0;*/
  padding: 5px 5px 5px 0;
  /*outline: 1px solid;*/
}

.table .col1,
.table .col2 {
  display: table-column;
}
.table .col1 {
  /*padding: 50px;*/
  width: 400px;

  /*outline: 1px solid red;*/
}


/* ========== PRICE-LIST END ========== */
/* ========== SEVICES BEGIN ========== */

.serv-descr {
  float: right;
  width: 800px;
}
.serv-descr h3 {
  margin-top: 0;
}




/* ========== SEVICES END ========== */
/* ========== INDEX BEGIN ========== */

.advantages {
  /*outline: 1px solid;*/
}

.advantages .align-justify {
  text-align: justify;

  /*outline: 1px solid;*/
}

.advantages .align-justify > div {
  display: inline-block;

  /*outline: 1px blue solid;*/
}
.advantages .pentagon-ftr {
  width: 100%;
}

.advantages .pentagon {
  position: relative;
  width: 140px;
  height: 140px;
  background-image: url(../img/polygon.png);
  margin: 0 auto;

  /*outline: 1px solid;*/
}
.advantages .pentagon1 {
  transform: rotate(25deg);
}
.advantages .pentagon2 {
  transform: rotate(55deg);
}
.advantages .pentagon3 {
  transform: rotate(70deg);
}
.advantages .pentagon4 {
  transform: rotate(115deg);
}

.advantages .pentagon1 .ico {
  position: absolute;
  top: 47px;
  left: 50px;
  background-image: url('../img/truck.png');
  background-repeat: no-repeat;
  background-size: 60px;
  width: 70px;
  height: 70px;
  transform: rotate(-25deg);
  z-index: 10;

  /*outline: 1px white solid;*/
}
.advantages .pentagon::before {
  position: absolute;
  z-index: 10;
  font-size: 50px;
  color: #fff;
  font-weight: normal;
}
.advantages .flaticon-menu-4::before {
  top: 36px;
  left: 51px;
  transform: rotate(-55deg);
}

.advantages .flaticon-like::before {
  top: 33px;
  left: 50px;
  transform: rotate(-70deg);
}
.advantages .flaticon-file-1::before {
  top: 33px;
  left: 50px;
  transform: rotate(-115deg);
}


.content {
  margin-bottom: 50px;
}
.content h1 {
  text-align: center;
}


.partners {
  margin-bottom: 150px;
}
.partners h2 {
  color: #1C5D2C;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 50px;
}
.partners > div {
  text-align: center;
}
.partners > div > img {
  margin: 0 15px;
}

/* ========== INDEX END ========== */




.form {
  /*margin-bottom: 200px;*/
  position: relative;
  margin: 0 auto;
  /*width: 1000px;*/
  height: 800px;
  background-image: url(../img/bg-form-index-8bit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  /*outline: 1px solid;*/
}
.form > form {
  position: absolute;
  top: -100px;
  left: 50%;
  /*margin-left: -150px;*/
  transform: translate(-50%,0);
  width: 320px;
  margin: 0 auto;
  border: 1px solid #105D32;
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
  background-color: #fff;
}
.form > form > input,
.form > form > textarea,
.form > form > button {
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #105D32;
  margin-bottom: 15px;
  color: #105D32;
  font-size: 16px;
  outline: none;
}
.form > form > button {
  box-sizing: content-box;
  color: #fff;
  text-transform: uppercase;
  background-color: #105D32;
  cursor: pointer;
  margin-bottom: 0;
}


.footer {
  background-color: #966a37;
}
.footer .menu {
  float: left;
  padding: 10px 0;

  /*outline: 1px solid;*/
}
.footer .right {
  float: right;
  padding: 10px 50px 10px 0;
}
.footer .menu > li {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

  /*outline: 1px solid;*/
}
.footer .menu > li > a {
  text-transform: uppercase;
  color: #fff;
}
.footer .menu > li > p {
  color: #fff;
  padding: 10px 0;
  margin: 0;
}
.footer .menu .submenu {
  padding: 10px 0;

  /*outline: 1px solid;*/
}
.footer .menu .submenu a {
  color: #fff;
}

.footer .right p {
  color: #fff;
  margin: 0 0 3px 0;
}
.footer .right a {
  margin-top: 10px;
}
.footer .right a:hover {
  color: #966a37;
}
.footer .copy {
  text-align: center;
  padding: 5px 0;
  background-color: #5f3d0e;
  color: #fff;
}

