.block1 {
  min-height: 615px;
  background-image: url(../img/block1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

.block1_ind {
  background-image: url(../img/block1_ind.jpg);
  background-position: calc(50% - 130px) 50%;
}

.block1__btn {
  margin: 0 auto 15px;
}

.block1__btn:last-of-type {
  margin-bottom: 0;
}

.block1__logo {
  position: relative;
  z-index: 10;
  display: block;
  margin-bottom: 100px;
}

.block1__title {
  position: relative;
  display: inline-block;
  color: #fff;
  margin-bottom: 85px;
  text-shadow: 0px 0px 40px #000;
}

.block1__title span {
  position: relative;
}

.block1__title::before {
  content: '';
  position: absolute;
  left: -80px;
  right: -80px;
  top: -70px;
  bottom: -70px;
  border-radius: 50%;
  background-color: rgba(1, 53, 74, 0.8);
  filter: blur(40px);
}

.block1__title_ind {
  color: #333;
  text-shadow: none;
}

.block1__title_ind::before {
  background-color: #A6D2EC;
}

.no-cssfilters .block1__title::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  max-width: 600px;
  height: 0;
  border-radius: 200px;
  box-shadow: 0 0 100px 100px rgba(1, 53, 74, 0.8);
}

.no-cssfilters .block1__title_ind::before {
  box-shadow: 0 0 100px 100px #A6D2EC;
}

@media (min-width: 1600px) {
  .block1_ind {
    background-position: 50% 50%;
  }
}

@media ($desktop) {

}

@media ($tablet) {
  
}

@media ($mobile) {
  .block1 {
    min-height: auto;
    padding-bottom: 70px;
  }
  .block1__title {
    margin-bottom: 60px;
  }
  .block1__logo {
    margin: 0 auto 60px;
    width: 150px;
  }
}

@media ($mobileS) {
  .block1 {
    background-image: url(../img/block1_mob.jpg);
  }
  .block1_ind {
    background-image: url(../img/block1_ind_mob.jpg);
    background-position: center;
  }
  .block1__title::before {
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
  }
  .block1__title_ind::before {
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    filter: blur(30px);
  }
}


