.block6 {
  padding: 85px 0 90px;
  background-color: #C4DEE8;
  background-image: url(../img/block6.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  text-align: center;

  .btn {
    margin: 0 auto;
  }
}

.block6__title {
  max-width: 675px;
  margin: 0 auto 60px;
}

.block6__txt {
  font-size: 24px;
  font-family: $ffMinor;
  text-transform: uppercase;
  margin-bottom: 60px;
}



@media ($desktopL) {
  .block6 {
    background-image: url(../img/block6_l.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% - 300px) center;
    background-size: auto 100%;
  }
}


@media ($desktop) {

}

@media ($tablet) {

}

@media ($mobile) {
  .block6 {
    padding: 65px 0 70px;
  }

  .block6__title {
    max-width: 440px;
  }

  .block6__txt {
    font-size: 20px;
  }
}

@media ($mobileS) {
  .block6 {
    background-position: calc(50% - 140px) center;
  }
}

