.nowrap {
  white-space: nowrap;
}

.orange {
  color: #F2994A;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.titleM {
  font-family: $ffMinor;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}

.titleL {
  font-family: $ffMinor;
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}




@media ($desktop) {

}

@media ($tablet) {
  .titleM {
    font-size: 40px;
  }
  .titleL {
    font-size: 48px;
  }
}

@media ($mobile) {
  .titleM {
    font-size: 30px;
  }
  .titleL {
    font-size: 38px;
  }
}

@media ($mobileS) {

}
