.trial2 {
	background-image: url(../img/trial2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	padding-top: 50px;
	// padding: 90px 0 100px;
}

.trial2__info {
	display: inline-block;
	margin-bottom: 39px;
	font-size: 24px;
}

.trial2__title {
	max-width: 720px;
}

@media (max-width: 1199px) {


}


@media (max-width: 991px) {
  
  
}

@media (max-width: 767px) {
  .trial2 {
  	text-align: center;
  }

}

@media (max-width: 575px) {


}