$ffPrimary: 'Scada', Helvetica, Arial, sans-serif;
$ffFA: 'Fontawesome';
$cPrimary: #2e3746;
$green: rgb(165,202,102);
$yell: rgb(199,215,121);
$gradient: linear-gradient( -144deg, $yell 0%, $green 100%);
$gradient2: linear-gradient( -107deg, $green 0%, $yell 100%);
@fa-font-path: "../font";