// шрифты и цвета
$ffBase: 'Ubuntu', Helvetica, Arial, sans-serif;
$ffSecond: 'Yeseva One', cursive;
$ffFa: 'Fontawesome';
$cBase: #6caa3d;
$cBlue: #558ad8;
$cType: #03243a;

// медиа
$desktop: 'max-width: 1199px';
$tablet: 'max-width: 991px';
$mobile: 'max-width: 767px';
$smobile: 'max-width: 575px';
