$ffBase: 'Roboto', Helvetica, Arial, sans-serif;
$ffFa: 'Fontawesome';
$cBase: #E21F17;
$desktop: 'max-width: 1199px';
$tablet: 'max-width: 991px';
$mobile: 'max-width: 767px';
$smobile: 'max-width: 575px';