$ffBase: 'Roboto', Helvetica, Arial, sans-serif;
$ffMinor: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$ffFun: 'lcdnova', Helvetica, Arial, sans-serif;
$ffFa: 'Fontawesome';
$orange: #F2994A;
$green: #219653;
