.block3 {
  padding: 90px 0;
  background-image: url(../img/block3.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  .btn {
    margin: 0 auto;
  }
}

.block3__title {
  margin-bottom: 35px;
}

.block3__txt {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: lowercase;
}

.block3__logo {
  margin-bottom: 130px;

  img {
    max-width: 100%;
    max-height: 1005;
  }
}



@media (max-width: 1800px) {
  .block3 {
    background-position: calc(50% - 20px) center;
  }
}

@media ($desktop) {

}

@media ($tablet) {

}

@media ($mobile) {
  .block3 {
    padding: 65px 0 70px;
  }
  .block3__logo {
    max-width: 400px;
    margin: 0 auto 100px;
  }
  .block3__txt {
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 50px;
  }

}

@media ($mobileS) {

}
