.block2 {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 115px;
}

.block2__title {
  max-width: 740px;
  margin: 0 auto;
}

.block2__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.block2__item {
  position: relative;
  padding: 10px 15px;
  width: 100%;
}

.block2__item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #E0E0E0;
}

.block2__item:last-child::after {
  display: none;
}

.block2__img {
  height: 110px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.block2__img_1 {
  background-image: url(../img/block2_ico1.svg);
}
.block2__img_2 {
  background-image: url(../img/block2_ico2.svg);
}
.block2__img_3 {
  background-image: url(../img/block2_ico3.svg);
}
.block2__img_4 {
  background-image: url(../img/block2_ico4.svg);
}
.block2__img_5 {
  background-image: url(../img/block2_ico5.svg);
}

.block2__txt {
  max-width: 160px;
  margin: 0 auto;
}

.block2__opt {
  font-size: 12px;
  margin-top: 20px;
}



@media ($desktop) {

}

@media ($tablet) {

}

@media ($mobile) {
  .block2 {
    padding: 45px 0 65px;
  }
  .block2__img {
    height: 80px;
    margin-bottom: 30px;
    background-position: center bottom;
  }
  .block2__list {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .block2__item::after {
    display: none;
  }
  .block2__item {
    margin-bottom: 30px;
  }
  .block2__title {
    max-width: 500px;
  }

}

@media ($mobileS) {

}
