.tasks {
	padding-top: 0;
	margin-top: -30px;
}

.tasks__row {
	display: flex;
	flex-wrap: wrap;
}

.tasks__col {
	width: 50%;
	min-height: 56px;
	margin-bottom: 30px;
	padding-right: 30px;
}

.tasks__text {
	position: relative;
	display: inline-block;
	font-size: 18px;
	padding-left: 60px;
}

.tasks__text::before {
	content: '';
	background-image: url(../img/tasks.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translatey(-50%);
	width: 32px;
	height: 33px;
}


@media (max-width: 1199px) {


}


@media (max-width: 991px) {
  
  
}

@media (max-width: 767px) {

.tasks__col {
	width: 100%;
	min-height: auto;
}  

}

@media (max-width: 575px) {


}